// .card1 {
//   background: rgb(255, 255, 255);
//   background: linear-gradient(
//     158deg,
//     rgba(255, 255, 255, 1) 0%,
//     rgba(255, 255, 255, 1) 23%,
//     rgba(255, 255, 255, 1) 46%,
//     rgba(5, 220, 255, 1) 100%
//   );
//   z-index: 1;
// }
// .card2 {
//   background: rgb(5, 220, 255);
//   background: linear-gradient(
//     158deg,
//     rgba(5, 220, 255, 1) 0%,
//     rgba(255, 255, 255, 1) 50%,
//     rgba(255, 255, 255, 1) 80%,
//     rgba(255, 255, 255, 1) 100%
//   );
//   z-index: 1;
// }


.video {
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
  }


  .maincard{
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .cardcontent{
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }